# Directories
**/backups
**/logs
**/temp
**/tmp

# Y Run
*.ybuild # Build files
*.ytmp # Temporary files
*.ylog # Log files
*.vdbg # Debug files

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
